@charset "UTF-8";
@font-face {
  font-family: "Neue Montreal";
  src: url("/font/NeueMontreal-Medium.woff2") format("woff2"), url("NeueMontreal-Medium.woff") format("woff"), url("NeueMontreal-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("/font/NeueMontreal-Bold.woff2") format("woff2"), url("/font/NeueMontreal-Bold.woff") format("woff"), url("/font/NeueMontreal-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("/font/NeueMontreal-Regular.woff2") format("woff2"), url("/font/NeueMontreal-Regular.woff") format("woff"), url("/font/NeueMontreal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  overflow-x: hidden;
  font-family: "Neue Montreal";
  margin: 0;
  height: 100vh; /* Висота 100% від екрану */
  background: linear-gradient(to left, #ffffe5, #f5fff5, #fafffe, #fafeff, #fffae5);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.primary-btn-lg {
  background-color: #3f8825;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  display: inline-flex;
  width: fit-content;
  gap: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: 0.1s;
  min-width: 177px;
}
.primary-btn-lg img {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}
.primary-btn-lg:hover {
  background-color: #387c20;
}

.primary-btn-sm {
  background-color: #3f8825;
  color: #ffffff;
  padding: 0.5rem 1.125rem;
  display: inline-flex;
  width: fit-content;
  gap: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: 0.1s;
}
.primary-btn-sm img {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}
.primary-btn-sm:hover {
  background-color: #387c20;
}

.secondary-btn {
  display: inline-flex;
  width: fit-content;
  gap: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: 0.1s;
}
.secondary-btn:hover {
  color: #387c20;
}
.secondary-btn img {
  width: 1.25rem;
  height: 1.25rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  padding: 7.5rem 1.25rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
  position: relative;
}
.wrapper .alert-container {
  cursor: default;
  position: fixed;
  background-color: #3f8825;
  color: #f5fff5;
  left: 50%;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  transform: translateX(-50%);
  transition: 0.2s;
  top: -2.5rem;
}
.wrapper .alert-container.active {
  top: 1rem;
}
.wrapper .header {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.wrapper .header .content {
  display: flex;
  flex-direction: column;
}
.wrapper .header .content .row {
  display: flex;
  gap: 2rem;
}
.wrapper .header .content .row .image {
  max-width: 6.5rem;
  width: 100%;
}
.wrapper .header .content .row .image img {
  width: 100%;
}
.wrapper .header .content .row .column h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #393939;
}
.wrapper .header .content .row .column h2 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #787878;
}
.wrapper .header .content p {
  max-width: 670px;
  display: block;
  margin-left: 8.5rem;
  margin-top: -2rem;
  color: #787878;
}
.wrapper .header .actions {
  display: flex;
  justify-content: right;
  flex-direction: column;
  gap: 1rem;
}
.wrapper .main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(1rem, 4vw, 2.5rem);
}
.wrapper .main .item .image {
  transition: 0.15s;
}
.wrapper .main .item .image:hover {
  filter: brightness(0.9);
}
.wrapper .main .item h3 {
  color: #393939;
  font-weight: 500;
  font-size: 1.125rem;
  margin: 1rem 0 0.5rem;
}
.wrapper .footer {
  text-align: center;
  color: #393939;
  padding: 0 0 0.5rem;
  font-weight: 500;
}
.wrapper .footer a {
  color: #387c20;
}
@media only screen and (max-width: 768px) {
  .wrapper .header {
    gap: 2rem;
    flex-wrap: wrap;
  }
  .wrapper .header .content .row {
    align-items: center;
    gap: 1rem;
  }
  .wrapper .header .content .row .image {
    max-width: 5.5rem;
  }
  .wrapper .header .content .row .column h1 {
    font-size: 1.5rem;
  }
  .wrapper .header .content .row .column h2 {
    font-size: 1rem;
  }
  .wrapper .header .content p {
    max-width: none;
    width: 100%;
    margin-left: 0rem;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 478px) {
  .wrapper .main {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 4.5rem 1.25rem 0rem;
    gap: 4.5;
  }
}